<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create new List</h3>
            <form 
                action="/listings" 
                method="post" 
                class="needs-validation" 
                novalidate 
                enctype="multipart/form-data"
            >
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                    <div class="invalid-feedback">Please enter Title</div>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" rows="4" required></textarea>
                    <div class="invalid-feedback">Please enter description</div>
                    <div class="valid-feedback">Description looks good</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input  name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Please enter your price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Please enter your Country</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" name="listing[location]" placeholder="Indore, MadhyaPradesh"
                        class="form-control" required>
                    <div class="invalid-feedback">Please enter your location</div>
                    </div>
                
                <button class="btn btn-dark add-btn mt-3">Add</button>
                
            </form>
        </div>
    </div>